<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078212993973-438qhf5d81r2ec4q7802fbs9msedeqlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078212993973-438qhf5d81r2ec4q7802fbs9msedeqlq</string>
	<key>API_KEY</key>
	<string>AIzaSyCp38CFK7Rc_udSwOV2lrL1iBfuWeCcchw</string>
	<key>GCM_SENDER_ID</key>
	<string>1078212993973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.online</string>
	<key>PROJECT_ID</key>
	<string>online-garden-b9e29</string>
	<key>STORAGE_BUCKET</key>
	<string>online-garden-b9e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078212993973:ios:92ac84e664fd429b8baffc</string>
</dict>
</plist>